<input type="text" nz-input placeholder="Search..." [(ngModel)]="searchValue" />
<nz-table #basicTable [nzData]="alldata">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data | tablefilters: {name: searchValue, address:searchValue}">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          
        </tr>
      </tbody>
    </nz-table>